<!--NAVIGATION-->
< [Contents](Index.ipynb) | [Join Merge and Concatenate](02-join-merge-and-concatenate.ipynb) >

# Pandas: Labeled Column-oriented Data

Pandas is a much newer package than NumPy, and is in fact built on top of it.
What Pandas provides is a labeled interface to multi-dimensional data, in the form of a DataFrame object that will feel very familiar to users of R and related languages.

Moreover, Pandas gained a lot of popularity by data science/analysts community in the past years. You can see by the graph below, that comparing only Pandas with other tools for data manipulation, the usage cases keeps increasing in **Stack Overflow**. It specifies that it is a very popular tool for data manipulation with tons of different cases online. One of the benefits of Pandas:
- Easy to manipulate data and track the code
- Based on Python which is very easy to use and has very powerfull and rich libraries/tools
- Well written documentation with tons of support online
- Probably most of the cases you will face to handle will Pandas, will be online already with the solution
- Support a lot of mathematical operations and differnet data types to work with

<img src="../fig/pandas_vs_rest.png" width="500">

Lets look how Pandas DataFrames in Python looks:

In [1]:
import pandas as pd
df = pd.DataFrame({'label': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'value': [1, 2, 3, 4, 5, 6]})
df

  label  value
0     A      1
1     B      2
2     C      3
3     A      4
4     B      5
5     C      6

The Pandas interface allows you to do things like select columns by name:

In [ ]:
df['label']

Apply string operations across string entries:

In [ ]:
df['label'].str.lower()

Apply aggregates across numerical entries:

In [ ]:
df['value'].sum()

And, perhaps most importantly, do efficient database-style joins and groupings:

In [ ]:
df.groupby('label').sum()

Here in one line we have computed the sum of all objects sharing the same label, something that is much more verbose (and much less efficient) using tools provided in Numpy and core Python.

## Load data from Databases, Excel, SAS

Here you will learn how to load a data from Databases and excel and have a nice dataframe with pandas

### Databases

You can extract data from databasesby writing the same SQL queries, where the pandas backend fetches the data outcome.

The are many different ways to coonect to a database from Python such as ``pyodbc``, ``SQLAlchemy`` and ``sqlite3``, but the idea with ``pandas`` is always the same: no matter that backend you use, you first need to import Python SQL backend library of choice, then create a connection to your database and finally provide that connection to one of pandas SQL reading methods.

In today's example we are going to use ``sqlite3`` backend and a fake database which resides within our working directory named ``airline.db``.

In [4]:
import sqlite3 as sql
import pandas as pd

conn = sql.connect("airline.db") # provide connection to database from the database backed library; in this case it is sqlite3
df = pd.read_sql("SELECT * FROM airline", conn)

You can also use ``pd.read_sql_table()`` method to read the whole table completely, in that case you need to provide table name and database connector.

We can use command .head(5) to inspect how the first 5 rows looks like. It will us to get a quick general view.

In [5]:
df.head(5)

,index,YEAR,MONTH,DAY,DEP_TIME,SCHED_DEP_TIME,DEP_DELAY,ARR_TIME,SCHED_ARR_TIME,ARR_DELAY,CARRIER,FLIGHT,TAILNUM,ORIGIN,DEST,AIR_TIME,DISTANCE,HOUR,MINUTE,TIME_HOUR
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,2013-01-01T11:00:00Z
3,3,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,2013-01-01T12:00:00Z
4,4,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,2013-01-01T12:00:00Z

You can notice that there is nothing much to do with pandas to convert into easy managable dataframe. This is an advantegous of pandas, to not be misleaded by a code while performing rich operations.

As well we can inspect datatypes of SQL database

In [6]:
df.dtypes

index               int64
YEAR                int64
MONTH               int64
DAY                 int64
DEP_TIME          float64
SCHED_DEP_TIME      int64
DEP_DELAY         float64
ARR_TIME          float64
SCHED_ARR_TIME      int64
ARR_DELAY         float64
CARRIER            object
FLIGHT              int64
TAILNUM            object
ORIGIN             object
DEST               object
AIR_TIME          float64
DISTANCE            int64
HOUR                int64
MINUTE              int64
TIME_HOUR          object
dtype: object

### Excel

Here you can extract data from excel file, mostly often from the .csv type of format.

In [ ]:
df_csv = pd.read_csv('Data_Extension.csv') 
df_csv.head(5)

The error says that "No such file or directory: 'Data_Extension.csv", which clearly we have to double check if our file is in the same directory or there is some typo. In this case we have a typo, let's write again a name of the .csv file which is **D_Data_Extension.csv**.

In [ ]:
df_csv = pd.read_csv('D_Data_Extension.csv') 
df_csv.head(5)

The file is correct, but we can see that the data in csv was not separated, as we want to have to separated column seperated by **";"**. Let's try to include separate option. Data will be separated by semicoloms as given in function **sep=';'**.

In [ ]:
df_csv = pd.read_csv('D_Data_Extension.csv', sep=';') 
df_csv.head(5)

As we can see, the separation part was successful.

In [ ]:
df_csv.dtypes

Clearly the datatypes from csv files are based on object which can be seen as string.

### SAS

Once we know where the SAS dataset is, reading into Python is best (much faster, more flexible and more stable) using pyreadstat NOT pandas. Moreover the outcome of df is based on Pandas library

In [ ]:
import pyreadstat  # see https://github.com/Roche/pyreadstat for more information

df, meta = pyreadstat.read_sas7bdat('test.sas7bdat')

In [ ]:
df.head()

You can read just the metadata to find what columns are in a file, and then only read the relevant ones.This saves both time and memory

In [ ]:
df, meta = pyreadstat.read_sas7bdat('test.sas7bdat', metadataonly=True)

In [ ]:
meta.column_names

In [ ]:
# now read just the relevant columns
df, meta = pyreadstat.read_sas7bdat('test.sas7bdat', usecols=['DEP_TIME', 'SCHED_DEP_TIME'])
print(f'\n\n{df.info(verbose=True)}')

In [ ]:
df.head()

<!--NAVIGATION-->
< [Contents](Index.ipynb) | [Join Merge and Concatenate](02-join-merge-and-concatenate.ipynb) >