<!--NAVIGATION-->
< [Data Cleaning and Handling Missing Values](03-data-cleaning-and-handling-missing-values.ipynb) | [Contents](Index.ipynb) | [Group and Pivot Functions](05-group-and-pivot-functions.ipynb) >

## More operation on dataframe

Here you will learn more operation on pandas dataframe where you can apply different mathematical functions.

To be able to test the functions, lets import a dataframe from dwh

In [ ]:
import pandas as pd

df = pd.read_csv('../Data/airlineDT.csv', sep=',')
df.head(5)

### Sum

Here you can see a sum by column

In [ ]:
df.sum()

You can spot, that with string it an look messy, whereall hte strings are connected into one.

Now lets take a look a sum by row. Notice that it is only enough to specify axis=1 to change focus of operation from column to row.

In [ ]:
df.sum(axis=1)

### Aggregate

You can use to aggregate using one or more operations over the specified axis.

In [ ]:
df.agg(['sum', 'min','max', 'count'])

You can notice, that it can be helpful to have an instant general view of dataframe, by using aggregate function which desired commands. Moreover, you can define different aggregations per selected columns

In [ ]:
df.agg({'DEP_DELAY' : ['sum', 'min', 'mean'], 'ARR_DELAY' : ['min', 'max']})

Both columns have missing values, because we did not specified that we want to apply given operations for specific variables. References if you want to explore more: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

### Drop

Drop can be a quick solution if you want to take out a column (variable) from the dataframe. Lets inspect our current columns.

In [ ]:
df.columns

We want to drop TEST_CARRIER_2, NEW_VARIABLE, TOTAL_TIME, YEAR, HOUR from our dataframe

In [ ]:
df = df.drop(['YEAR', 'HOUR','SCHED_DEP_TIME','SCHED_ARR_TIME'], axis=1)
df.columns

<!--NAVIGATION-->
< [Data Cleaning and Handling Missing Values](03-data-cleaning-and-handling-missing-values.ipynb) | [Contents](Index.ipynb) | [Group and Pivot Functions](05-group-and-pivot-functions.ipynb) >