<!--NAVIGATION-->
< [More Operation on Dataframe](04-more-operation-on-dataframe.ipynb) | [Contents](Index.ipynb) | [Apply and Timestamp](06-apply-and-timestamp.ipynb) >

## Group and Pivot functions

Here you will learn how to pivot or either group dataframe with pandas

To be able to test the functions, lets import a dataframe from dwh

In [ ]:
import pandas as pd

df = pd.read_csv('../Data/airlineDT.csv', sep=',')
df.head(5)

### Pivot

Pivot function can remind you a similar operation by using microsoft excel. Reshape data (produce a “pivot” table) based on column values. Uses unique values from specified index / columns to form axes of the resulting DataFrame. Let's say we have time series data. Given tools are especially good to deal with multiple indexes or with a panel data. Lets explore a case if you can a panel data

In [ ]:
import pandas as pd
df_pivot = pd.DataFrame({'date': ['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-03', '2000-01-04', '2000-01-05',
                           '2000-01-03', '2000-01-04', '2000-01-05','2000-01-03', '2000-01-04', '2000-01-05'],
                   'variable': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'D', 'D', 'D'],
                   'value': [0.469112, -0.282863, -1.509059, -1.135632, 1.212112, -0.173215, 0.119209, -1.044236,
                            -0.861849, -2.104569, -0.494929, 1.071804]})
df_pivot

Suppose we wish to do time series operations with the variables. A better representation would be where the columns are the unique variables and an index of dates identifies individual observations. Here comes pivot as a helpful tool.

In [ ]:
df_pivot.pivot(index="date", columns="variable", values="value")

What if DataFrame has more than one column of values which are not used as column or index inputs to pivotx

In [ ]:
df_pivot["value2"] = df_pivot["value"] * 2
df_pivot

In [ ]:
pivoted = df_pivot.pivot(index="date", columns="variable")
pivoted

You can notice that we have multiple indexes. Moreover, you can create the subsets from the pivoted DataFrame

In [ ]:
pivoted["value2"]

### Group

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. We want to create a dataframe, to select a column and to get instantly a mean based on every unique value in the selected column.

In [ ]:
df.head()

In [ ]:
df.groupby(['CARRIER']).mean()

You can notice that for every unique **CARRIER** we got a mean of other variables where our unique **CARRIER** belongs and are numeric.

In [ ]:
df.groupby(['CARRIER']).sum()

As well we can inspect what kind of values appears first of given groups.

In [ ]:
df.groupby(['CARRIER']).first()

Moreover, we can group by more variables.

In [ ]:
df.groupby(['CARRIER','ORIGIN']).mean()

If you want to explore more about this field, you can look at the given reference: 
- Pivot: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html
- GroupBy: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
- Advanced examples: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

<!--NAVIGATION-->
< [More Operation on Dataframe](04-more-operation-on-dataframe.ipynb) | [Contents](Index.ipynb) | [Apply and Timestamp](06-apply-and-timestamp.ipynb) >